# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/test
src/.clang-format
src/gcov_report
src/report
src/*.gcda
src/*.gcno
src/*.info

src/gui/gt_gui/CMakeCache.txt
src/gui/gt_gui/CMakeFiles
src/gui/gt_gui/Makefile
src/gui/gt_gui/cmake_install.cmake
src/gui/gt_gui/gt_gui_autogen
src/gui/gt_gui/gt_gui.app
src/../archive
src/../documentation
src/gui/gt_gui/.qt
src/gui/gt_gui/gt_gui
documentation
